certifi
langchain
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_ollama
langchain_openai
langchain_qdrant
pdf2image
Pillow
pydantic
pydub
PyPDF2
pytesseract
python-dotenv
qdrant_client
Requests
streamlit
streamlit_mic_recorder
urllib3
torch
sentence-transformers
numpy
